<% if(success_msg != ''){ %>
    <div class="indicator" id="success_msg" style="display: block; background: #62BE67;" role="alert">
        <%= success_msg %>
    </div>
<% } %> 

<% if(error_msg != ''){ %>
    <div class="indicator" id="error_msg" style="display: block; background: #E55D5D;" role="alert">
        <%= error_msg %>
    </div>
<% } %> 