<!-- Top Navigation bar -->
<nav>
  <div class="side-menu-btn">
    <div class="side-icon"></div>
  </div>
  <div class="nav-bar">
    <div class="logo" onclick="location.href='/homepage'">MAXIMIZERS</div>

    <div class="nav-buttons">
      <form class="search-container" action="#">
        <input id="search-box" type="text" class="search-box" name="q" placeholder="Search" />
        <label for="search-box"><i class="fa fa-search" aria-hidden="true" style="color : black; margin-left : -30px;"></i></label>
        <input type="submit" id="search-submit" />
      </form>
      <ul class="icon-list">
        <li><div class="nav-icon favorite-icon"></div></li>
        <li><div class="nav-icon cart-icon"></div></li>
        <li><button onclick="location.href = '/user/logout';" id="login-button" type="button" name="button" onclick="">Logout</button></li>

        <!-- based on the session change UI from login to profile button -->

        <!-- based on the session change UI from login to profile button -->
      </ul>
    </div>
  </div>
</nav>
<!-- End of Top Navigation Bar -->
