<!-- Start of Sidemenu -->
<div class="zeynep">
<ul>
  <li><a href="#">Home</a></li>
  <li><a href="#">About</a></li>
  <li class="has-submenu">
    <a href="#" data-submenu="categories">Categories</a>

    <div id="categories" class="submenu">
      <div class="submenu-header">
      <a href="#" data-submenu-close="categories">Main Menu</a>
      </div>

      <label>Categories</label>

      <ul>
        <li class="has-submenu">
          <a href="#" data-submenu="mens">Mens</a>

          <div id="mens" class="submenu">
          <div class="submenu-header">
            <a href="#" data-submenu-close="mens">Categories</a>
          </div>

          <label>Mens</label>

          <ul>
            <li><a href="#">T-Shirts</a></li>
            <li><a href="#">Shirts</a></li>
            <li><a href="#">Bottoms</a></li>
            <li><a href="#">Outerwear</a></li>
            <li><a href="#">Knitwear</a></li>
            <li><a href="#">Accessories</a></li>
          </ul>
          </div>
        </li>

        <li class="has-submenu">
          <a href="#" data-submenu="womens">Womens</a>

          <div id="womens" class="submenu">
          <div class="submenu-header">
            <a href="#" data-submenu-close="womens">Categories</a>
          </div>

          <label>Womens</label>

          <ul>
            <li><a href="#">T-Shirts</a></li>
            <li><a href="#">Shirts</a></li>
            <li><a href="#">Bottoms</a></li>
            <li><a href="#">Outerwear</a></li>
            <li><a href="#">Knitwear</a></li>
            <li><a href="#">Accessories</a></li>
          </ul>
          </div>
        </li>
       </ul>
    </div>
  </li>
</ul>
</div>
<!-- End of Side menu -->
