<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <%- include('partials/header.ejs') %>
    <link rel="stylesheet" href="/css/homepage.css"/>
  </head>
  <body>
    <%- include('partials/sidebar.ejs') %>
    <main>
      <%- include('partials/navbar.ejs') %>

      <!-- Banner -->
      <div class="jumbo-box">
        <div class="banner">
          <div class="banner-content">
            <h1>Maximize your style</h1>
            <p>with out latest collection of streetwear appearals in great discount prices.</p>
            <button onclick="location.href='/listing'" class="banner-btn" type="button" name="button">View Collection</button>
          </div>
          <div class="banner-image"></div>
        </div>
      </div>
      <!-- End of banner -->

      <!-- Services -->
      <div class="services">
        <ul class="service-list">
          <li>
            <div class="service-icon shirt-icon"></div>
            <h3>Latest Styles</h3>
            <p>Our designs follow the latest fashion styles to help you stay updated with new trends.</p>
          </li>
          <li>
            <div class="service-icon price-icon"></div>
            <h3>Best Prices</h3>
            <p>Enjoy the best prices for high quality clothing and accessories.</p>
          </li>
          <li>
            <div class="service-icon shipped-icon"></div>
            <h3>Free Shipping</h3>
            <p>We provide free shipping nationwide. You can order from anywhere anytime.</p>
          </li>
        </ul>
      </div>
      <!-- End of Services -->

    <%- include('partials/footer.ejs') %>
    </main>

    <div class="zeynep-overlay"></div>
  </body>
  <script type="text/javascript" src="/js/_thirdparty/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/js/_thirdparty/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/_thirdparty/zeynep.min.js"></script>
  <script type="text/javascript" src="/js/_general/sidebar-interaction.js"></script>
</html>
