.jumbo-box
{
  margin: 0px;
  width : 100%;
  padding : 0px 100px;
  box-sizing: border-box;
}
h1{
  color : #333;
  margin-top: 50px;
}
h4
{
  margin : 10px 0px;
}
.category-list
{
  margin-top : 50px;
  min-height : 100px;
  width : 100%;
  background: white;
  color : #333;
  text-align: center;
}
.bootstrap-wrapper .row
{
  margin-left: 0px;
}
.category-list > div
{
  padding-top : 20px;
  padding-bottom : 20px;
  cursor: pointer;
}
.category-list > div:hover
{
    background: #393d45;
    color : white;
}
.category-list > div:hover .cat-icon
{
    opacity: .8;
    filter : invert(0%);
}
.category-list > div.active
{
  background: #393d45;
  color : white;
}
.cat-icon.active
{
  opacity: .8;
  filter : invert(0%);
}
.cat-icon
{
  height : 50px;
  width: 50px;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin : 0px auto;
  opacity: .2;
  filter : invert(100%);
}
.tshirt-icon
{
    background-image: url('../media/icons/tshirt.png');
}
.bottom-icon
{
    background-image: url('../media/icons/bottom.png');
}
.outerwear-icon
{
    background-image: url('../media/icons/outerwear.png');
}
.headwear-icon
{
    background-image: url('../media/icons/headwear.png');
}
.socks-icon
{
    background-image: url('../media/icons/sock.png');
}
.shirt-icon
{
  background-image: url('../media/icons/shirt.png');
}
.sweater-icon
{
  background-image: url('../media/icons/sweater.png');
}
.long-coat-icon
{
  background-image: url('../media/icons/long-coat.png');
}
.accessories-icon
{
    background-image: url('../media/icons/accessories.png');
}









:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.9);
  --text-lighter: rgba(255, 255, 255, 0.6);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.hero-section {
  font-family: "Montserrat", sans-serif;
  align-items: flex-start;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: 50px 100px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  list-style: none;
  position: relative;
  overflow: hidden;
}

.card:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: .2s all linear;
}

.card:hover .card__background {
  transform: scale(2) translateZ(0);
}
.card:hover .card__content {
  opacity: 1;
}

.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
  width: 100%;
  height : 100%;
  transition: .2s all linear;
  background: rgba(57, 61, 69, .9);
  opacity: 0;
}

.card__price {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  margin-bottom: 20px;
  word-spacing: 100vw;
}

.card__content > button
{
  width : 120px;
  height : 40px;
  background: none;
  border: 3px solid #c79a11;
  color : #c79a11;
  cursor: pointer;
  font-weight : 800;
}

.card__content > button:hover{
  background : #c79a11;
  color : white;
}
